.button {
  margin: 0;
  padding: 0 1.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: 7px;
  border-color: transparent;
  background-color: #0070f3;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  color: white;
  font-size: x-large;
  font: bold;
  transition: background 0.2s ease,
    color 0.2s ease, box-shadow 0.2s ease,
    transform 800ms ease-out;
}

.button:hover {
  background-color: #0071f3b6;
  transform: translateY(-3px);
  transition: transform 400ms ease-out;
}

.button:active:hover {
  background-color: #0056b8;
  transform: translateY(3px);
  transition: transform 100ms ease-out;
}
